<div class="mt-4">
    <h3>Khoá học đã xoá</h3>

    <a href="/me/stored/courses">Danh sách khoá học</a>


    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ten khoa hoc</th>
                <th scope="col">Trinh do</th>
                <th scope="col" colspan="2">Thoi gian tao</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">edit</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#exampleModal">delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác trống.
                    <a href="/me/stored/courses">Danh sách khoá học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete courses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete ?
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


{{!-- Hidden-form (sẽ là form giúp ta submit trạng thái delete vì trạng thái này không có form cụ thể như là sửa xoá) --}}
<form name="delete-form" method="POST" ></form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var btnDelete = document.getElementById('btn-delete-course');
        var formDelete = document.forms['delete-form'];
        // Khi mà dialog confirm clicked
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
            console.log(courseId);
        })


        console.log(btnDelete);
        btnDelete.onclick = function () {
            formDelete.action='/courses/' + courseId + '?_method=DELETE';
            formDelete.submit();
        }
    })


</script>